.mainContainer {
  display: flex;
  flex: 1;
  flex-direction: column;

  .topBar {
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 10px 10px;
    padding: 5px 0;
    background-color: #3f51b5;
    box-shadow: 0 0 4px rgba(0, 0, 0, .35);
    .logoContainer {
      display: flex;
      align-items: center;
      flex-direction: column;
      .logo {
        background: url("images/logo.png") no-repeat center center;
        background-size: cover;
        width: 60px;
        height: 65px;
      }
      .name {
        margin-left: 10px;
        font-size: 16px;
        font-weight: 600;
        color: $lightColor;
      }
    }
    .signIn {
      background: url("images/sign_in_with_slack.png");
      background-size: cover;
      width: 172px;
      height: 40px;
      margin-left: 0;
    }
    .userArea {
      display: flex;
      align-items: center;
      .userAvatar, .userIcon {
        width: 48px;
        height: 48px;
        margin-right: 10px;
      }
      .userIcon {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        border: 1px solid $materialColorGrey500;
        background-color: $materialColorGrey500;
        &:before {
          color: $lightColor;
          font-family: 'Font Awesome 5 Free';
          content: "\f007";
          font-size: 35px;
        }
      }
      .username {
        font-weight: 600;
        color: $lightColor;
      }
      .signOut {
        outline: none;
        text-decoration: none;
        color: $materialColorLightBlueA700;
        margin-right: 15px;
        margin-left: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:before {
          font-family: 'Font Awesome 5 Free';
          content: "\f2f5";
          font-size: 22px;
          font-weight: 600;
        }
      }
    }
  }

  .fileListToolbar {
    margin: 0 10px;
    width: auto;
    background-color: $materialColorGrey200;
    color: $darkColor;
    .filters {
      margin: 0 10px;
      display: flex;
      align-items: center;
      &:before {
        content: " ";
        width: 2px;
        height: 25px;
        margin-right: 25px;
        background-color: $materialColorGrey500;
      }
      .filter {
        height: 36px;
        min-width: 200px;
        margin: 0 10px 0 0;
        padding: 0;
        .selectize-input {
          border-radius: 0;
          box-shadow: none;
        }
      }
      .md-errors-spacer {
        display: none;
      }
    }
  }

  .gridContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    margin: 10px 10px 0 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .35);
    .filesList {
      .ag-cell {
        .file {
          display: flex;
          align-items: center;
          .fileThumbnail {
            height: 40px;
            width: 40px;
            &.noThumbnail {
              display: flex;
              align-items: center;
              justify-content: center;
              &:before {
                font-family: 'Font Awesome 5 Free';
                font-size: 30px;
                content: "\f15b";
              }
            }
          }
          .filename {
            margin-left: 10px;
            font-size: 14px;
            font-weight: 600;
          }
        }
      }
    }
  }

  .bottomBar {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 4px rgba(0, 0, 0, .35);
    margin: 0 10px;
    background-color: $materialColorGrey300;
    .linkedIn, .gitHub {
      margin: 0 15px;
      outline: none;
      text-decoration: none;
      &:hover {
        cursor: pointer;
      }
      &:before {
        font-family: "Font Awesome 5 Brands";
        font-size: 25px;
      }
    }
    .linkedIn {
      &:before {
        color: #0073b1;
        content: '\f08c'
      }
    }
    .gitHub {
      &:before {
        color: #24292e;
        content: '\f09b';
      }
    }
  }
}