.signIn {
  background: url("images/sign_in_with_slack.png");
  background-size: cover;
  width: 172px;
  height: 40px;
}

.filesList {
  .ag-cell {
    .file {
      display: flex;
      align-items: center;
      .fileThumbnail {
        height: 40px;
        width: 40px;
      }
      .filename {
        margin-left: 10px;
        font-size: 14px;
        font-weight: 600;
      }
    }
  }
}
