// Source: public/styles/scss/general.scss
@import "colorsVar";
@import "fonts";

body {
  margin: 0;
  height: 100%;
  background-color: $lightColor;
  font-family: Segoe UI, Verdana, Arial, Helvetica, sans-serif;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

input {
  &:focus {
    outline: none;
  }
}

.applicationContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#loading-bar-spinner {
  display: none;
}

// General classes
md-input-container {
  label {
    font-weight: 500;
    font-size: 15px;
    color: $materialColorGrey800
  }
  input {
    color: $materialColorGrey800;
    border-color: $materialColorGrey500;
  }
}

.navigationToolbar {
  margin: 2px;
  box-shadow: 0 0 4px rgba($darkColor, 0.35);
  display: flex;
  justify-content: flex-end;
}

md-dialog {
  .dialogTitle {
    border-bottom: 1px solid $borderColor;
    height: auto;
    font-size: 20px;
    color: $materialColorGrey800;
    margin: 20px 25px 5px 25px;
  }
  .dialogContent {
    padding: 25px 25px 0 25px;
    flex: 1;
  }
  .dialogToolbar {
    border-top: 1px solid $borderColor;
    margin: 5px 25px 0 25px;
    height: 45px;
    overflow: hidden;
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }
}

md-content {
  background-color: $lightColor;
}

md-toolbar {
  z-index: 1;
  min-height: 50px;
  margin-bottom: 2px;
  box-shadow: 0 0 4px rgba($darkColor, 0.35);
}
.md-toolbar-tools {
  height: 50px;
}

.md-button {
  line-height: 30px;
  min-height: 30px;
}

// Source: public/scripts/common/components/agGrid/agGrid.scss
ag-grid {
  height: 100%;
  flex: 1;
  .agGrid {
    height: 100%;
    .ag-header {
      margin-top: 1px;
      box-shadow: 0 0 4px rgba($darkColor, 0.35);
    }
    .ag-body-viewport {
      .actionColumn {
        .actionList {
          margin: 0;
          padding: 0;
          list-style: none;
          .action {
            cursor: pointer;
            display: inline-block;
            &:before {
              font-family: 'Font Awesome 5 Free';
              font-size: 20px;
            }
            &.deleteRow {
              &:before {
                content: '\f2ed';
              }
            }
          }
        }
      }
    }
    .ag-overlay {
      .message {
        margin-top: 10px;
        font-size: 20px;
      }
      .customLoadingOverlay {
        .icon {
          color: $materialColorLightBlueA700;
          font-size: 30px;
          animation: fa-spin 1.5s infinite linear;
        }
      }
      .noRowsOverlay {
        .icon {
          font-size: 150px;
          color: $materialColorGrey300;
        }
      }
    }
  }
  .ag-theme-material {
    font-family: Segoe UI, Verdana, Arial, Helvetica, sans-serif;
  }
}


// Source: public/scripts/common/services/loadingMask/loadingMask.scss
.loadingMask {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  bottom: 0;
}

// Source: public/scripts/common/services/notificationMessage/notificationMessage.scss
.noty_body {
  min-height: 50px;
  display: flex;
  align-items: center;
}

.noty_effects_open {
  opacity: 0;
  transform: translateY(0);
  animation: noty_anim_in 0.5s linear;
}

.noty_effects_close {
  animation: noty_anim_out 0.5s linear;
}

@keyframes noty_anim_in {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes noty_anim_out {
  100% {
    opacity: 0;
    transform: translateY(0);
  }
}

// Source: public/scripts/main/main.scss
.mainContainer {
  display: flex;
  flex: 1;
  flex-direction: column;

  .topBar {
    height: 70px;
    display: flex;
    align-items: center;
    .signIn {
      background: url("images/sign_in_with_slack.png");
      background-size: cover;
      width: 172px;
      height: 40px;
    }
  }

  .filters {
    margin: 0 10px;
    display: flex;
    align-items: center;
    .filter {
      min-width: 200px;
      margin: 0;
    }
    .md-errors-spacer {
      display: none;
    }
  }

  .fileListToolbar {
    margin: 0 10px;
    width: auto;
  }

  .gridContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    margin: 10px 10px 0 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .35);
    .filesList {
      .ag-cell {
        .file {
          display: flex;
          align-items: center;
          .fileThumbnail {
            height: 40px;
            width: 40px;
          }
          .filename {
            margin-left: 10px;
            font-size: 14px;
            font-weight: 600;
          }
        }
      }
    }
  }

  .bottomBar {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 4px rgba(0, 0, 0, .35);
    margin: 0 10px;
    background-color: $materialColorGrey300;
    .linkedIn, .gitHub {
      margin: 0 15px;
      outline: none;
      text-decoration: none;
      &:hover {
        cursor: pointer;
      }
      &:before {
        font-family: "Font Awesome 5 Brands";
        font-size: 25px;
      }
    }
    .linkedIn {
      &:before {
        color: #0073b1;
        content: '\f08c'
      }
    }
    .gitHub {
      &:before {
        color: #24292e;
        content: '\f09b';
      }
    }
  }
}

